RewriteEngine On

RewriteRule ^login?$ pages/login.php

RewriteRule ^registration?$ pages/login.php

RewriteRule ^forum.*$ pages/forum.php

RewriteRule ^account.*$ pages/account.php

RewriteRule ^hub.*$ pages/hub.php


